div.autocomplete {
	position: absolute;
	width: 250px;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: visible;
	border: 1px solid;
	z-index: 5;
	
}

div.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

div.autocomplete ul li.selected {
	background-color: #294597;
	color: #ffffff
}

div.autocomplete ul li {
	list-style-type: none;
	display: block;
	margin: 0 0 0 5;
	padding: 2px;
	/*height: 15px;*/
	cursor: pointer;
	font-size: 9pt;
	font-weight: bold;
}

span#minus {
	 background:#c9c5b8;
	 width: 15px;
	 border-radius:5px;
	
}


span.plus {
	 background:#c9c5b8;
	 width: 15px;
	 border-radius:5px;
	
}