#container .lander > h2, #container .lander > p, #container .lander > form { margin-left: 15px; font-family:"HelveticaRounded Bold"; }
#container .landing h2 { color:#67624e; font-size:24pt; font-weight:normal; margin-top: 15px;  font-family:"HelveticaRounded Bold";}
#container .landing p.subtitle { margin-bottom:20px; margin-top:5px; }
#container .landing form td {height:50px}
#container .landing form input[type=text],  #container .landing form input[type=password], #container .landing form textarea{ 
	width: 400px; 
	font-size:11pt; 
	border:1px solid #67624e; 
	padding:5px; 
	border-radius:5px; 
	border: medium none !important;
    box-shadow: 0 -1px 0 #888, 0 1px 2px #777 inset;
    color: #111111;
    opacity: 0.7;
    height:35px;
    font-family:Tahoma;
}
    
input[type=button], input[type=submit], input[type=file] { 
	margin-left: 5px;
	font-size:18px; 
	padding:5px 10px; 
	border:1px solid #67624e; 
	color:white; cursor:pointer;
	border-radius:2px;
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

input[type=button]:hover,  input[type=submit]:hover, input[type=file]:hover {
	background: #007dea; /* Old browsers */
	background: -moz-linear-gradient(top,  #007dea 0%, #005bbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007dea), color-stop(100%,#005bbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #007dea 0%,#005bbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #007dea 0%,#005bbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #007dea 0%,#005bbc 100%); /* IE10+ */
	background: linear-gradient(top,  #007dea 0%,#005bbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dea', endColorstr='#005bbc',GradientType=0 ); /* IE6-9 */
}

#container .landing form div.upload_box { padding: 20px; }
#container .landing form div.upload_box input[type=file] { 
/* 	position:absolute; */
/* 	width: 160px; */
/* 	height: 50px; */
/* 	left:-137px; */
/* 	-moz-opacity:0; */
/* 	filter:alpha(opacity: 0); */
/* 	opacity: 0; */
/* 	z-index: 2; */
}

#container .landing form div.upload_box input[type=button] {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

/* Login form */

form.login div.buttons { display: inline; }

/* Registration form slider */
form.registration { margin-top: 10px; }
form.registration ul.pagination { border-top: 1px solid black; border-bottom: 1px solid black; padding: 5px 0; margin-bottom:20px; }
form.registration ul.pagination li { display:inline-block; width:175px; margin:0; text-align: center; }
form.registration ul.pagination li.current { color: red; }
form.registration div.page { height: auto; }
form.registration div.page h3 { padding-bottom: 15px; }
form.registration div.controls { text-align: center; padding: 30px; }
form.registration div.controls a { padding:5px 10px; border-radius:2px; border: 1px solid black; }
form.registration div.controls a.disabled { cursor: default;}
form.registration textarea { width: 100% !important; height: 310px !important; }